{% extends "base.html" %} 
{% load static %} 
{% load  crispy_forms_tags %}
{% block content %}
   <div class='row mt-5 justify-content-center  m-auto'>
    <h1>Details of {{car.name}}</h1>
   <div class="card  text-dark bg-secondary col-10 m-2 p-2 justify-content-center" style="width: 40rem;">
    <img style='width: 80%;' src="{{car.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5>name: {{car.name}}</h5>
        <p> <b>price: {{car.price}}</b></p>
        <p>quantity: {{car.quantity}}</p>
        <p class="card-text">Discription: {{car.description}}</p>
        {% if user.is_authenticated %}
             <a href="{% url 'buy' car.id%}" class='btn btn-md btn-success'>Buy Now</a>
        {% endif %}
    </div>
  </div>
</div>

<div style='border:1px solid white'>
    <form class='text-warning mt-3' action="" method='post' style='width:70%; margin:auto;'>
        <h1 class='mb-3'>Comment</h1>
        {% csrf_token%}
        <!--{{form | crispy}} -->
        {% for fm in form%}
        {{fm.label_tag}}
        {{fm}}
        <p class='text-danger'>{{fm.errors | striptags}}</p>
        {% endfor%}
        <br>
        <button class='btn-warning  mt-1 mb-2 px-4 py-2'>Submit</button>
     </form>
</div>
<div border='1px solid white' class='mt-4' >
    <div style='width: 70%; margin:auto'>
        <h1>All Comments</h1>

       
        {% for cm in comments %}
        <div class="card text-dark" style="width: 60rem;">
            
            <div class="card-body">
            <h5>{{cm.user_name}}</h5>
              <p class="card-text">
                {{cm.body}} 
            </p>
          </div>
            
       
        {% endfor %}
    </div>
</div>
{% endblock content %}